{% extends "group/edit_base.html" %}

{% block subtitle %}
    {{ ui.subtitle_item(_('Administrators')) }}
    {{ super() }}
{% endblock %}

{% block breadcrumb_content -%}
    {{ super() }}
    {{ ui.breadcrumb(_("Admins"), href=h.url_for(group_type ~ '.admins', id=group_dict.name), active=true) }}
{%- endblock -%}


{%- set page_heading | trim -%}
{% block page_heading %}{{ _('Administrators') }}{% endblock %}
{%- endset %}

{% block primary_content_inner %}
    {%- call ui.util.call(ui.section, title=page_heading, level=1) -%}
        {% block admins_list %}
            {%- call ui.util.call(ui.user_list) -%}
                {%- for user in admins -%}
                    {{ ui.user(user={"name": user}) }}
                {%- endfor %}
            {%- endcall %}
        {% endblock %}
    {%- endcall %}
{% endblock %}
