{% extends "group/read_base.html" %}

{% block content_action -%}
    {{ ui.content_action(_('View'), href=h.url_for(group_type+'.read', id=group_dict.name), style='secondary', icon='eye') if group_dict }}
{%- endblock %}


{% block content_primary_nav -%}
    {{ ui.content_nav_item(_('Edit'), href=h.url_for(group_type + '.edit', id=group_dict.name), active=request.endpoint==group_type + '.edit') if group_dict }}
    {{- ui.content_nav_item(_('Members'), href=h.url_for(group_type + '.manage_members', id=group_dict.name), active=request.endpoint==group_type + '.manage_members') if group_dict }}
    {{- ui.content_nav_item(_('Admins'), href=h.url_for(group_type + '.admins', id=group_dict.name), active=request.endpoint==group_type + '.admins') if group_dict }}
{%- endblock %}

{% block secondary_content %}
    {%- with group=group_dict -%}
        {%- include "group/snippets/info.html" -%}
    {%- endwith %}
{% endblock %}
