{% extends "group/read_base.html" %}

{% block subtitle %}
    {{- ui.subtitle_item(_('Followers')) -}}
    {{ super() }}
{% endblock %}

{% block primary_content_inner %}
    {%- call ui.util.call(ui.section, title=_('Followers'), level=1) -%}
        {% if followers %}
            {%- call ui.util.call(ui.user_list) -%}
                {% for follower in followers %}
                    {{ ui.user(user=follower) }}
                {% endfor %}
            {%- endcall %}

        {% else %}
            {{ ui.empty(_('No followers found.')) }}
        {% endif %}
    {%- endcall %}
{% endblock %}
