{% extends "group/edit_base.html" %}

{% block subtitle -%}
    {{ ui.subtitle_item(_("Edit Member") if user_dict else _("Add Member")) }}
    {{- super() }}
{%- endblock %}

{% block breadcrumb_content -%}
    {{ super() }}
    {{ ui.breadcrumb(_("Edit Member") if user_dict else _("Add Member"), href=h.url_for(group_type ~ '.member_new', id=group_dict.name, user=user_id), active=true) }}
{%- endblock -%}

{% block primary_content_inner %}
    {%- call ui.util.call(ui.section, title=_("Edit Member") if user_dict else _('Add Member'), level=1) -%}
        {%- call ui.util.call(ui.form, method="POST", action=h.url_for(group_type ~ '.member_new', id=group_dict.name)) -%}
            {% if error_summary %}
                {{ ui.form_errors(error_summary) }}
            {% endif %}

            {{ ui.input(name="username", label=_("Existing User"), value=user_dict.name, placeholder=_("Username"), required=true) }}
            {{ ui.select(name="role", label=_("Role"), options=roles, selected=user_role, required=true) }}

            {%- call ui.util.call(ui.form_actions) -%}
                {{ ui.button(_('Update') if user_dict else _('Add'), type="submit") }}
            {%- endcall %}
        {%- endcall %}
    {%- endcall %}
{% endblock %}
