{% extends "group/base_form_page.html" %}

{% set label = h.humanize_entity_type('group', group_type, 'create title') or _('Create a Group') %}

{% block subtitle %}
    {{ ui.subtitle_item(label) }}
    {{ super() }}
{% endblock %}

{% block breadcrumb_content %}
    {{ super() }}
    {{ ui.breadcrumb(label, href=h.url_for(group_type~'.new'), active=true) }}
{% endblock %}

{% block primary_content_inner %}
    {%- call ui.util.call(ui.section, title=label, level=1) -%}
        {{ form|safe }}
    {%- endcall %}
{% endblock %}

{% block secondary_content %}
    {% include "group/snippets/helper.html" %}
{% endblock %}
