{% extends "admin/base.html" %}

{%- block subtitle -%}
    {{ ui.subtitle_item("Sysadmins settings") }}
    {{- super() }}
{%- endblock %}

{% block breadcrumb_content -%}
    {{ super() }}
    {{ ui.breadcrumb(_('Sysadmins settings'), href=h.url_for('admin.index'), active=true) }}
{%- endblock %}

{% block primary_content_inner %}
    {%- call ui.util.call(ui.heading, level=1) -%}
        {% block page_heading %}{{ _('Manage Admins') }}{% endblock %}
    {%- endcall %}
    {{ ui.heading(_('Current Sysadmins'), level=2) }}

    {%- call ui.util.call(ui.table, hover=true, bordered=true) -%}
        <thead>
            <tr>
                <th>{{ _('User') }}</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for user in sysadmins %}
                <tr>
                    <td>{{ h.linked_user(user) }}</td>
                    <td>
                        {%- call ui.util.call(ui.button_group) -%}
                            {%- call ui.util.call(ui.form, method="POST", action=h.url_for('user.sysadmin')) -%}
                                <input type="hidden" value="{{ user }}" name="username" />
                                <input type="hidden" value="0" name="status" />
                                {{ ui.button(_('Revoke Sysadmin permission'), type="submit", style="danger", size="sm") }}
                            {%- endcall %}
                        {%- endcall %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    {%- endcall %}

    {{ ui.heading(_('Promote user to Sysadmin'), level=2) }}

    {%- call ui.util.call(ui.form, method="POST", action=h.url_for('user.sysadmin')) -%}
        {{ ui.autocomplete(name="username", placeholder=_("Username"), source=h.url_for("api.user_autocomplete", ignore_self="true", q="?"), id_key="name", label_key="fullname") }}

        {{ ui.hidden_input(name="status", value="1") }}

        {%- call ui.util.call(ui.form_actions) -%}
            {{ ui.button(_('Promote'), type="submit", aria={"label": _('Promote user to Sysadmin')}) }}
        {%- endcall %}

    {%- endcall %}
{% endblock %}

{% block secondary_content %}
    {%- call ui.util.call(ui.sidebar_section, icon="info", title=_('Administer CKAN')) -%}
        {% set docs_url = "https://docs.ckan.org/en/{0}/sysadmin-guide.html".format(g.ckan_doc_version) %}
        {% trans %}
        <p>As a sysadmin user you have full control over this CKAN instance. Proceed with care!</p>
        <p>For guidance on using sysadmin features, see the CKAN <a href="{{ docs_url }}" target="_blank" rel="noreferrer">sysadmin guide</a></p>
        {% endtrans %}
    {%- endcall %}
{% endblock %}
