{% set type = organization.type or 'organization' %}
{% set url = h.url_for(type ~ '.read', id=organization.name) %}

<div class="nsw-card nsw-card--light">
    <div class="nsw-card__content">
        <h2 class="nsw-card__title">
            <a href="{{ url }}">{{ organization.display_name }}</a>
        </h2>
        <div class="nsw-card__copy">
             {% if organization.package_count is defined %}
                 <p class="nsw-m-bottom-xs"><strong>{{ ungettext('{num} Dataset', '{num} Datasets', organization.package_count).format(num=organization.package_count) }}</strong></p>
             {% endif %}
             {% if organization.member_count is defined %}
                 <p class="nsw-m-bottom-xs">{{ ungettext('{num} Member', '{num} Members', organization.member_count).format(num=organization.member_count) }}</p>
             {% endif %}
             {% if show_capacity and organization.capacity %}
                 <p><span class="nsw-tag">{{ h.roles_translated().get(organization.capacity, organization.capacity) }}</span></p>
             {% endif %}
        </div>
        
        {% if organization.user_member %}
            {% set remove_label = _('Unlink {name} from the dataset').format(name=organization.display_name) %}
            <div class="nsw-m-top-sm">
                 {{ ui.button(_('Remove'), type="submit", style="danger", size="sm", attrs={"name": "organization_remove." ~ organization.id, "aria-label": remove_label}) }}
            </div>
        {% endif %}
    </div>
</div>
