{% extends "page.html" %}

{% block subtitle %}{{ _('Error') }} {{ code }}{% endblock %}

{% block breadcrumb_content %}
  {{ ui.breadcrumb(_('Error') ~ ' ' ~ code, active=true) }}
{% endblock %}

{% block primary_content_inner %}
  {%- call ui.util.call(ui.section, title=_('Error') ~ ' ' ~ code) -%}
    <p>{{ content }}</p>
    {% if g.debug %}
        <hr/>
        {%- call ui.util.call(ui.accordion, title=_('Debug information'), independent=true) -%}
            {{ ui.code(debug) }}
        {%- endcall %}
    {% endif %}
  {%- endcall %}
{% endblock %}
