{% from "macros/nswdesignsystem/card.html" import card with context  %}

<div class="nsw-grid">
    <div class="nsw-col nsw-col-lg-6">
        {% call card("Nominations open for Green Globe Awards 2019", "#", "Community", "2019-03-09", horizontal=true, image="https://picsum.photos/id/292/400/200") %}
            <p>Save money by comparing electricity and gas plans.</p>
        {% endcall %}
    </div>
    <div class="nsw-col nsw-col-lg-6">
        {% call card("Nominations open for Green Globe Awards 2019", "#", "Community", "2019-03-09", variant="dark", image="https://picsum.photos/id/292/400/200", horizontal=true) %}
            <p>$100 voucher for children's creative and cultural activities.</p>
        {% endcall %}
    </div>
</div>
