{% import "macros/nswdesignsystem/form/global_alert.html" as macro with context %}

{{ macro.global_alert(
    title="State of Emergency for NSW",
    content="Catastrophic weather conditions are forecast this week for north and north west regions of NSW. Keep up to date with the latest bush fires alerts and warnings in your area.",
    type="light",
    button_text="More information",
    button_url="#",
) }}

{{ macro.global_alert(
    title="State of Emergency for NSW",
    content="Catastrophic weather conditions are forecast this week for north and north west regions of NSW. Keep up to date with the latest bush fires alerts and warnings in your area.",
    type="info",
    button_text="More information",
    button_url="#",
) }}

{{ macro.global_alert(
    title="State of Emergency for NSW",
    content="Catastrophic weather conditions are forecast this week for north and north west regions of NSW. Keep up to date with the latest bush fires alerts and warnings in your area.",
    type="critical",
    button_text="More information",
    button_url="#",
    dismissible=false,
) }}
