{% import "macros/nswdesignsystem/hero_banner.html" as banner with context  %}


{{ banner.hero_banner(
    "Helping you deliver great government services",
    "Find the building blocks for creating user-centred digital services, as well as policy, tools and guidance",
) }}
<hr/>

{{ banner.hero_banner(
    "Helping you deliver great government services",
    "Find the building blocks for creating user-centred digital services, as well as policy, tools and guidance",
    style="light",
) }}
<hr/>

{{ banner.hero_banner(
    "Helping you deliver great government services",
    "Find the building blocks for creating user-centred digital services, as well as policy, tools and guidance",
    style="true",
) }}
<hr/>

{{ banner.hero_banner(
    "Helping you deliver great government services",
    "Find the building blocks for creating user-centred digital services, as well as policy, tools and guidance",
    style="off-white",
) }}
<hr/>
