{% extends "package/read_base.html" %}

{% block subtitle -%}
    {{ ui.subtitle_item(_('Followers')) }}
    {{- super() }}
{%- endblock %}

{%- block breadcrumb_content -%}
    {{- super() -}}
    {{ ui.breadcrumb(_("Followers"), href=h.url_for(pkg_dict.type~".followers", id=pkg_dict.name), active=true) }}
{%- endblock %}

{% block primary_content_inner %}
    {%- call ui.util.call(ui.section, title=_("Followers"), level=1) -%}
        {% block followers_list %}
            {%- call ui.util.call(ui.user_list) -%}
                {%- for user in followers -%}
                    {{ ui.user(user=user) }}
                {%- endfor %}
            {%- endcall %}
        {% endblock %}
    {%- endcall %}
{% endblock %}
