{% extends "package/read_base.html" %}

{% block primary_content_inner %}
    {% block package_description %}
        {%- call ui.util.call(ui.section, title=h.dataset_display_name(pkg), level=1) -%}
            {% block package_notes %}
                {% if pkg.notes %}
                    {{ h.render_markdown(h.get_translated(pkg, 'notes')) }}
                {% endif %}
            {% endblock %}

            {% block package_tags %}
                <div class="nsw-list--8">
                    {%- for tag in pkg.tags -%}
                        {{ ui.tag(tag.display_name|truncate(22), href=h.url_for('dataset.search', tags=tag.name), aria={"label": _('Search datasets with the tag: {name}').format(name=tag.display_name)}) }}
                    {%- endfor %}
                </div>
            {% endblock %}

        {%- endcall %}
    {% endblock %}

    {% block package_additional_info %}
        {%- include "package/snippets/additional_info.html" -%}
    {% endblock %}

    {% block package_resources %}
        {%- with resources=pkg_dict.resources -%}
            {%- include "package/snippets/resources_list.html" -%}
        {%- endwith %}
    {% endblock %}

{% endblock %}
