{% extends "package/edit_base.html" %}

{% block subtitle -%}
    {{ ui.subtitle_item(_('Resources')) }}
    {{- ui.subtitle_item(h.dataset_display_name(pkg)) }}
    {{- super() }}
{%- endblock %}

{% block breadcrumb_content %}
    {{ super() }}
    {{- ui.breadcrumb(_('Resources'), href=h.url_for(pkg_dict.type ~ ".resources", id=pkg_dict.name), active=true) }}
{% endblock %}


{% block primary_content_inner %}
    {% if pkg.resources %}
        {%- call ui.util.call(ui.resource_list) -%}
            {% for resource in pkg.resources %}
                {{ ui.resource(resource=resource, package=pkg) }}
            {% endfor %}
        {%- endcall %}
    {% else %}
        {{ ui.empty(_("This dataset has no data.")) }}
    {% endif %}
{% endblock %}
