$brand-dark: #0b3f47 !default;
$brand-light: #d1eeea !default;
$brand-supplementary: #2e808e !default;
$brand-accent: #d7153a !default;

/* NSW Design System and its default variables */
@import "node_modules/nsw-design-system/src/main.scss";
