{% extends "page.html" %}

{% block subtitle -%}
    {{ ui.subtitle_item(_("Confirm Delete")) }}
    {{- super() }}
{%- endblock %}

{% block maintag -%}
    <div class="nsw-grid" role="main">
{%- endblock %}

{% block main_content %}
    {%- call ui.util.call(ui.col, size={"md": 6}, offset={"md": 3}) -%}
        <section class="nsw-content-block">
            <div class="nsw-content-block__content">
                {%- block form -%}
                    <p>{{ _('Are you sure you want to delete collaborator - {name}?').format(name=user_dict.name) }}</p>
                    <p class="nsw-list nsw-list--8">
                        {%- call ui.util.call(ui.form, method="POST", action=h.url_for(package_type + '.collaborator_delete', id=package_id, user_id=user_id)) -%}
                            {{ ui.button(_('Cancel'), style="danger", type="submit", attrs={"name": "cancel"}) }}
                            {{ ui.button(_('Confirm Delete'), type="submit", attrs={"name": "delete"}) }}
                        {%- endcall %}
                    </p>
                {%- endblock -%}
            </div>
        </section>
    {%- endcall %}
{% endblock %}
