{%- set modal_id = ui.util.id() -%}

{%- call ui.util.call(ui.form, method="POST", enctype="multipart/form-data", data={"module": "basic-form"}, attrs={"novalidate": ""}) -%}
    {% block error_summary %}
        {% if error_summary %}
             {{ ui.alert(error_summary, style="danger") }}
        {% endif %}
    {% endblock %}

    {% block basic_fields %}
        {{ ui.input(name='title', label=_('Name'), id='field-name', placeholder=h.humanize_entity_type('group', group_type, 'name placeholder') or _('My Group'), value=data.title, errors=errors.title, data={"module": 'slug-preview-target'}) }}

        {% set prefix = h.url_for(group_type + '.read', id='') %}
        {% set domain = h.url_for(group_type + '.read', id='', qualified=true)|replace("http://", "")|replace("https://", "") %}

        {{ ui.input(name='name', label=_('URL'), prefix=prefix, id='field-url', placeholder=_('my-' + group_type), value=data.name, errors=errors.name, data={'module': 'slug-preview-slug', 'module-prefix': domain, 'module-placeholder': '<' + group_type + '>'}, required=true) }}

        {{ ui.markdown(name='description', label=_('Description'), placeholder=h.humanize_entity_type('group', group_type, 'description placeholder') or _('A little information about my group...'), value=data.description, errors=errors.description) }}

        {% set is_upload = data.image_url and not data.image_url.startswith('http') %}
        {% set is_url = data.image_url and data.image_url.startswith('http') %}

        {{ ui.image_upload(data, errors, is_upload_enabled=h.uploads_enabled("group"), is_url=is_url, is_upload=is_upload) }}

    {% endblock %}

    {% block custom_fields %}
        {% snippet 'snippets/custom_form_fields.html', extras=data.extras, errors=errors, limit=3 %}
    {% endblock %}

    {{ ui.form_annotation() }}

    <div class="nsw-list nsw-list--8 nsw-m-top-md">
        {% block delete_button %}
            {% if h.check_access('group_delete', {'id': data.id})  %}
                {%- call ui.util.call(ui.modal_handle, id=modal_id, style="danger") -%}
                    {% block delete_button_text %}{{ _('Delete') }}{% endblock %}
                {%- endcall %}
            {% endif %}
        {% endblock %}

        {%- call ui.util.call(ui.button, type="submit", style="dark", attrs={"name": "save"}) -%}
            {% block save_text %}{{ h.humanize_entity_type('group', group_type, 'save label') or _('Save Group') }}{% endblock %}
        {%- endcall %}
    </div>

{%- endcall %}

{{ ui.confirm_modal(h.humanize_entity_type('group', group_type, 'delete confirmation') or _('Are you sure you want to delete this Group?'), id=modal_id, href=h.url_for(group_type+'.delete', id=data.id)) }}
