{% extends "page.html" %}

{% set label = h.humanize_entity_type('organization', group_type, 'create title') or _('Create an Organization') %}

{% block subtitle %}{{ label }} - {{ super() }}{% endblock %}

{% block page_heading %}{{ label }}{% endblock %}

{% block breadcrumb_content_inner %}
    {{ ui.breadcrumb(label, href=h.url_for(group_type~'.new'), active=true) }}
{% endblock %}

{% block page_header %}{% endblock %}

{% block secondary_content %}
    {% snippet "organization/snippets/helper.html", group_type=group_type %}
{% endblock %}
