{% extends "organization/edit_base.html" %}

{% block subtitle -%}
    {{ ui.subtitle_item(_('Bulk Process')) }}
    {{- super() }}
{%- endblock %}


{% block primary_content_inner %}
    {%- call ui.util.call(ui.section, title=_("Bulk Process"), level=1) -%}

        {%- call ui.util.call(ui.form, method="POST") -%}
            {% if packages %}
                {%- call ui.util.call(ui.table, striped=true) -%}
                    <thead>
                        <tr>
                            <th style="width: 40px">
                                {{ ui.checkbox(name="bulk_process.select_all", value="all", label="", checked=false) }}
                            </th>
                            <th>{{ _('Dataset') }}</th>
                            <th>{{ _('Status') }}</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for pkg in packages %}
                            <tr>
                                <td class="nsw-align-content-center">
                                    {{ ui.checkbox(name="dataset_" ~ pkg.id, label=" ") }}
                                </td>
                                <td>
                                    {{ ui.link(pkg.title or pkg.name, href=h.url_for(pkg.type ~ '.read', id=pkg.name)) }}
                                    {% if pkg.notes %}
                                        <p class="nsw-m-top-xs nsw-text-sm">{{ h.markdown_extract(pkg.notes, extract_length=80) }}</p>
                                    {% endif %}
                                </td>
                                <td>
                                    {% if pkg.state == 'deleted' %}
                                        <span class="nsw-tag nsw-tag--error">{{ _('Deleted') }}</span>
                                    {% elif pkg.private %}
                                        <span class="nsw-tag nsw-tag--warning">{{ _('Private') }}</span>
                                    {% else %}
                                        <span class="nsw-tag nsw-tag--success">{{ _('Public') }}</span>
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                {%- endcall %}

                {%- call ui.util.call(ui.form_actions) -%}
                    {%- call ui.util.call(ui.button_group) -%}
                        {{ ui.button(_('Make public'),  icon="eye", type="submit", attrs={"name": "bulk_action.public", "value": "public"}) }}
                        {{ ui.button(_('Make private'), icon="eye-slash", type="submit", attrs={"name": "bulk_action.private", "value": "private"}) }}

                        {{ ui.button(_('Delete'), style="danger", icon="times", type="submit", attrs={"name": "bulk_action.delete", "value": "delete"}) }}
                    {%- endcall %}

                {%- endcall %}


            {% else %}
                {{ ui.empty(_('This organization has no datasets associated to it')) }}

            {% endif %}
        {%- endcall %}

        {{ ui.pagination(page=page.page, total=page.last_page, url_params={"id": group_dict.name}) }}

    {%- endcall %}
{% endblock %}
