{% extends "organization/read_base.html" %}

{% block breadcrumb_content -%}
    {{ super() }}
    {{- ui.breadcrumb(_('Manage'), active=true) }}
{%- endblock %}

{% block content_primary_nav -%}
    {{ ui.content_nav_item(_('Edit metadata'), href=h.url_for(group_type ~ '.edit', id=group_dict.name), icon='edit', active=request.endpoint==group_type ~ '.edit') }}
    {{- ui.content_nav_item(_('Members'), href=h.url_for(group_type ~ '.manage_members', id=group_dict.name), icon='users', active=request.endpoint==group_type ~ '.manage_members') }}
    {% if h.check_access('bulk_update') %}
        {{- ui.content_nav_item(_('Bulk Process'), href=h.url_for(group_type ~ '.bulk_process', id=group_dict.name), icon='list', active=request.endpoint==group_type ~ '.bulk_process') }}
    {% endif %}
{%- endblock %}

{% block secondary_content %}
    <div class="nsw-list nsw-list--8 nsw-m-top-md">
        {{ ui.button(_('View organization'), href=h.url_for(group_type ~ '.read', id=group_dict.name), style="dark", _extra_class="nsw-width-100 nsw-justify-content-center") }}
    </div>
{% endblock %}
