{% extends "organization/edit_base.html" %}

{% block subtitle %}{{ _('Manage Members') }} - {{ super() }}{% endblock %}

{% block primary_content_inner %}
  {%- call ui.util.call(ui.section, title=_('Manage Members')) -%}
    <div class="nsw-m-bottom-md">
        {{ ui.button(_('Add Member'), href=h.url_for(group_type ~ '.member_new', id=group_dict.name), style="dark", icon="plus") }}
    </div>

    {% if members %}
        <div class="nsw-table nsw-table--striped">
            <table>
                <thead>
                    <tr>
                        <th>{{ _('User') }}</th>
                        <th>{{ _('Role') }}</th>
                        <th class="nsw-text-right">{{ _('Action') }}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for user_id, user, role in members %}
                        <tr>
                            <td class="nsw-text-bold">
                                {{ h.linked_user(user_id, maxlength=20) }}
                            </td>
                            <td>
                                {{ ui.tag(role) }}
                            </td>
                            <td class="nsw-text-right">
                                <div class="nsw-list nsw-list--8 nsw-justify-content-end">
                                    {{ ui.button(_('Edit'), href=h.url_for(group_type ~ '.member_new', id=group_dict.name, user=user_id), size="sm", style="secondary") }}
                                    
                                    {%- call ui.util.call(ui.form, method="POST", action=h.url_for(group_type ~ '.member_delete', id=group_dict.id), attrs={"class": "nsw-display-inline"}) -%}
                                        <input type="hidden" name="user" value="{{ user_id }}" />
                                        {{ ui.button(_('Delete'), type="submit", size="sm", style="danger") }}
                                    {%- endcall %}
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {% else %}
        {{ ui.empty(_('No members found.')) }}
    {% endif %}
  {%- endcall %}
{% endblock %}
