{% macro filters(title="Filters", accept="Apply filters", cancel="Clear all filters",
    down=false, right=false, instant=false, count=false, id=null, cancel_url=null, submit_on_change=false, accept_form=none) %}
    <div class="nsw-filters{{ " js-filters" if down or right }}{{ " nsw-filters--down" if down }}{{ " nsw-filters--right" if right }}{{ " nsw-filters--instant" if instant }}" {% if id %}id="{{ id }}"{% endif %}
         {% if submit_on_change %} onchange="this.submit()"{% endif %}
    >

        {% if down or right %}
            <div class="nsw-filters__controls{{ "  js-filters--count" if count }}">
                <button>
                    <span class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">tune</span>
                    <span>{{ title }}</span>
                    <span class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">keyboard_arrow_{{ "down" if down else "right" }}</span>
                </button>
            </div>
        {% endif %}

        <div class="nsw-filters__wrapper">

            {% if right %}
                <div class="nsw-filters__back">
                    <button class="nsw-icon-button nsw-icon-button--flex js-close-sub-nav" type="button">
                        <span class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">close</span>
                        <span class="sr-only">Close filters</span>
                    </button>
                </div>
            {% endif %}

            <div class="nsw-filters__title">{{ title }}</div>

            <div class="nsw-filters__list">
                {{ caller() }}
            </div>

            {% if accept %}
                <div class="nsw-filters__accept">
                    <button type="submit" class="nsw-button nsw-button--dark nsw-button--full-width"
                            {% if accept_form %} form="{{ accept_form }}"{% endif %}>
                        {{ accept }}
                    </button>
                </div>
            {% endif %}

            {% if cancel %}
                <div class="nsw-filters__cancel">
                    {% if cancel_url %}
                        <a href="{{ cancel_url }}">
                            {{ cancel }}
                        </a>
                    {% else %}
                        <button type="reset">{{ cancel }}</button>
                    {% endif %}
                </div>
            {% endif %}

        </div>
    </div>
{% endmacro %}
