{% import "macros/form.html" as form %}



{% macro facet(name, values, labels=[], visible=5, title=null, show_all_label="Show all", empty_label=null, collapsible=false, expanded=false, attrs={}, show_all_counter=none, add_search=false) %}
    {% if not labels %}
        {% set labels = values %}
    {% endif %}

    {% call filter(collapsible and title, expanded) %}

        {% set selected = request.args.getlist(name) %}
        {% set main = values[:visible] %}
        {% set rest = values[visible:] %}

        <fieldset class="nsw-form__fieldset">
            {% if not collapsible %}
                <legend class="nsw-form__legend">
                    {{ title or name }}
                </legend>
            {% endif %}

            {% if add_search and values|length > visible %}
                {% block facet_search_input %}
                    <input
                        placeholder="{{ _('Start typing to see all options') }}"
                        data-module="nsw-facet-filter"
                        type="text" class="nsw-form__input"
                    />
                {% endblock %}
            {% endif %}

            {% for val in main %}
                {{ form.checkbox(
                    name,
                    id="filter-" ~ name ~ "-main-" ~ loop.index0, label=labels[loop.index0], value=val,
                    checked=val in selected,
                    attrs=attrs,
                )}}
            {% else %}
                {{ empty_label }}
            {% endfor %}

            {% if rest %}
                <div class="nsw-filters__all nsw-display-none">
                    {% for val in rest %}
                        {{ form.checkbox(
                            name,
                            id="filter-" ~ name ~ "-rest-" ~ loop.index0, label=labels[loop.index0 + visible], value=val,
                            checked=val in selected,
                            attrs=attrs,
                        )}}
                    {% endfor %}

                </div>
                <button class="nsw-filters__more">{{ show_all_label }} ({{ show_all_counter or values | length }})</button>

            {% endif %}

        </fieldset>
    {% endcall %}

{% endmacro %}
