{%- extends "theming/base_component.html" -%}

{%- block overview -%}
    <p>
        Global alerts are designed to capture the attention of the user in a
        deliberately intrusive way. They persist over a session but are user
        dismissible, and are purposefully created and not initiated by a user
        interaction or system event.
    </p>

    <p>
        {{ ui.link("NSW Design system reference", href="https://designsystem.nsw.gov.au/components/global-alert/index.html", blank=true) }}
    </p>
{%- endblock %}
