{%- extends "theming/base_component.html" -%}
{%- set parametrized = parametrized or ["nds_in_page_nav", "nds_in_page_nav_item"] -%}

{%- block overview -%}
    <p>
        In-page navigation increases discoverability and engagement of content
        by providing quick access to desired content. Use for longer content
        pages to act as a table of contents, providing users with a summary and
        quick navigation to sections.
    </p>

    <p>
        {{ ui.link("NSW Design system reference", href="https://designsystem.nsw.gov.au/components/in-page-nav/index.html", blank=true) }}
    </p>
{%- endblock %}
