{%- extends "theming/base_component.html" -%}

{%- block overview -%}
    <p>
        Use a progress indicator to let a user know how far along they are in
        the current process. Using a progress indicator helps manage a user's
        expectation of the time and effort involved to complete a task and show
        a sense of progression.
    </p>

    <p>
        {{ ui.link("NSW Design system reference", href="https://designsystem.nsw.gov.au/components/progress-indicator/index.html", blank=true) }}
    </p>
{%- endblock %}
