{%- extends "theming/base_component.html" -%}
{%- set parametrized = parametrized or ["nds_card_carousel", "nds_card_carousel_item"] -%}


{%- block overview -%}
    <p>
        The card carousel component displays four or more related cards within
        a limited space, allowing users to scroll through them via arrows,
        navigation buttons, or swiping gestures on a touchscreen.
    </p>

    <p>
        {{ ui.link("NSW Design system reference", href="https://designsystem.nsw.gov.au/components/card-carousel/index.html", blank=true) }}
    </p>
{%- endblock %}
