{%- extends "theming/base_component.html" -%}

{%- set parametrized = parametrized or ["nds_back_to_top"] -%}

{%- block overview -%}
    <p>
        A back to top button provides an easy way to return to the top of the
        page, without having to manually scroll.
    </p>

    <p>
        Use the back to top component when there is a lot of content on the
        page, such as articles, blogs, or listings.
    </p>

    <p>
        {{ ui.link("NSW Design system reference", href="https://designsystem.nsw.gov.au/components/back-to-top/index.html", blank=true) }}
    </p>
{%- endblock %}
