{%- extends "theming/base_component.html" -%}
{%- set parametrized = parametrized or ["nds_link_list", "nds_link_list_item"] -%}

{%- block overview -%}
    <p>
        Use list links to present users with a list of suitable next best
        actions or content. Link lists can surface related content or options
        for a user to also explore based on the current context.
    </p>

    <p>
        {{ ui.link("NSW Design system reference", href="https://designsystem.nsw.gov.au/components/link-list/index.html", blank=true) }}
    </p>
{%- endblock %}
