{%- extends "theming/base_component.html" -%}
{%- set parametrized = parametrized or ["nds_hero_search"] -%}

{%- block overview -%}
    <p>
        Use hero search for sites with large volumes of content where the
        primary navigation of users is via search. It can also be used when
        research has shown that users prefer to search rather than browse by
        navigation.
    </p>

    <p>
        Use the suggested search links to provide access to popular
        searches. This may update dynamically based on popular search queries
        if the business logic is in place, or manually managed through a
        content management system.
    </p>

    <p>
        {{ ui.link("NSW Design system reference", href="https://designsystem.nsw.gov.au/components/hero-search/index.html", blank=true) }}
    </p>
{%- endblock %}
