{%- set placeholder -%}
{% block header_site_search_label %}{{ placeholder if placeholder else _('Search datasets...') }}{% endblock %}
{%- endset %}
{% set sorting = sorting if sorting else [(_('Name Ascending'), 'name asc'), (_('Name Descending'), 'name desc')] %}
{% set form_id = form_id if form_id else false %}


{# theming bridge #}
{%- set kwargs = kwargs or {} -%}
{%- if form_id -%}
    {%- do ui.util.augment_attrs(kwargs, {"id": form_id}) -%}
{%- endif %}

{%- call ui.util.call(ui.search_form_box, use_htmx=use_htmx or true, **kwargs) -%}
    {% block search_input %}
        {{ ui.search_input(name="q", label=none, value=query, placeholder=placeholder, icon_button=ui.search_submit_button()) }}
    {% endblock %}

    {% block search_search_fields %}
        {%- for name, value in fields -%}
            {{ ui.hidden_input(name=name, value=value) }}
        {%- endfor %}
    {% endblock %}

    <div class="nsw-results-bar">
        {% block search_title %}
            {{ ui.search_results_text(error=error, type=type, count=count, query=query) }}
        {% endblock %}
        {% block search_sortby %}
            {{ ui.search_sort_control(name=sort, selected=sorting_selected, options=sorting) }}
        {% endblock %}
    </div>

    {% block search_facets %}
        {{ ui.search_active_filters(active_filters=fields, facet_titles=facets.titles if facets else {}, facets=facets.search if facets else {}, use_htmx=true) }}
    {% endblock %}
{%- endcall %}
