:root {
    /* Maximum width of container */
    --nsw-container-width: 1200px;
}

.nsw-button.nsw-button--light-outline-solid {
    color: var(--nsw-text-light);
    background-color: var(--nsw-brand-dark);
    border: 2px solid var(--nsw-text-light);
}

.nsw-button.nsw-button--light-outline-solid:hover {
    color: var(--nsw-brand-dark);
    background-color: var(--nsw-text-light);
    border-color: transparent;
    text-decoration: none;
}
