{% if pkg %}
    {% set can_edit = h.check_access('package_update', {'id':pkg.id }) %}
    {% set pkg_url =  h.url_for(pkg.type ~ '.read', id=pkg.name) %}
    <section class="module module-narrow module-shallow">
        <div class="module-group">
            <h2 class="module-heading" id="headingPackagewrench">
                {{ _("Dataset") }}
            </h2>
            <ul class="list-group">
                <li class="list-group-item d-flex justify-content-between position-relative">

                    <a {% if can_edit %}class="flex-fill"{% endif %} href="{{ pkg_url }}" aria-label="{{ _('Navigate to package: {name}').format(name=pkg.title or pkg.name) }}">{{ pkg.title | truncate(25)  }}</a>

                    {% if can_edit %}
                        {%- call ui.util.call(ui.dropdown, title=ui.icon("settings"), size="sm", style="secondary", aria={"expanded": "false", "label": _('Manage {name} options').format(name=pkg.title or pkg.name)}) -%}

                            {{ ui.dropdown_item(" " ~ (h.humanize_entity_type('package', pkg.type, 'edit label') or _('Edit Dataset')), href=h.url_for(pkg.type ~ '.edit', id=pkg.name), icon='pencil') }}
                        {%- endcall %}
                    {% endif %}
                </li>
            </ul>
        </div>
    </section>

{% endif %}
