{%- set list_class -%}
{% block resource_list_class %}resource-list{% endblock %}
{%- endset -%}

{%- call ui.util.call(ui.section, _('Data and Resources'), level=2) -%}
    {% block resource_list %}
        {% if resources %}
            {%- call ui.util.call(ui.resource_list) -%}
                {%- for resource in resources -%}
                    {{ ui.resource(resource=resource, package=pkg_dict) }}
                {%- endfor %}
            {%- endcall %}
        {% else %}

            {% block resource_list_empty %}
                {%- call ui.util.call(ui.empty) -%}
                    {% if h.check_access('resource_create', {'package_id': pkg['id']}) %}

                        {% trans url=h.url_for(pkg.type ~ '_resource.new', id=pkg.name) %}This dataset has no data, <a href="{{ url }}">why not add some?</a>{% endtrans %}

                    {% else %}
                        {{ _('This dataset has no data') }}
                    {% endif %}
                {%- endcall %}

            {% endblock %}
        {% endif %}
    {% endblock %}
{%- endcall %}
