{% set resources = pkg.resources or [] %}
{% set can_edit = pkg.id and h.check_access('package_update', {'id':pkg.id }) %}

{% if pkg %}

    {% block resources %}
        {%- call ui.util.call(ui.sidebar_nav, title=_("Resources")) -%}
            {%- if resources -%}
                {% block resources_list %}
                    {% for resource in resources %}
                        {% set url = h.url_for(pkg.type ~ '_resource.edit', id=pkg.name, resource_id=resource.id) if g.view == "edit" else h.url_for('%s_resource.read' % pkg.type, id=pkg.name, resource_id=resource.id) %}
                        {{ ui.sidebar_nav_item(h.resource_display_name(resource)|truncate(25), href=url, active=active == resource.id ) }}
                    {% endfor %}
                {% endblock %}
            {%- else -%}
                {{ ui.empty(_('No resources available.')) }}
            {%- endif %}
        {%- endcall %}
    {% endblock %}
{% endif %}
