{%- set hx = {"swap-oob": "true", "swap": "none"} -%}
{%- set form_id = form_id or "dataset-search-form" -%}

{%- call ui.util.call(ui.filters, form_id=form_id, attrs={"id": "search-facets"}, hx=hx) -%}
    {%- block facet_list -%}
        {%- for facet in facet_titles %}
            {%- set items = h.get_facet_items_dict(facet, search_facets) -%}
            {%- call ui.util.call(ui.facet_section, title=facet_titles[facet], key=facet, has_more=h.has_more_facets(facet, search_facets, limit=items|length)) -%}
                {%- if items -%}
                    {%- call ui.util.call(ui.facet_list) -%}
                        {%- for item in items -%}
                            {{ ui.facet(item.display_name, key=facet, value=item.name, count=item.count, active=item.active, form_id=form_id) }}
                        {%- endfor %}
                    {%- endcall %}
                {%- endif %}
            {%- endcall %}
        {%- endfor %}
    {%- endblock facet_list %}
{%- endcall %}
