{% extends "user/read_base.html" %}


{%- block subtitle -%}
    {{ ui.subtitle_item(_("API Tokens")) }}
    {{- super() -}}
{%- endblock %}

{%- block breadcrumb_content -%}
    {{- super() -}}
    {{ ui.breadcrumb(_("API Tokens"), href=h.url_for("user.api_tokens", id=user_dict.name), active=true) }}
{%- endblock %}


{%- block primary_content_inner -%}
    {%- call ui.util.call(ui.section, title=_('API Tokens'), level=1) -%}

        {%- if h.check_access('api_token_create', {'user': user['name']}) -%}
            {% include 'user/snippets/api_token_create_form.html' %}
        {%- endif %}

        {%- block token_list -%}
            {% include 'user/snippets/api_token_list.html' %}
        {%- endblock token_list %}
    {%- endcall %}
{%- endblock primary_content_inner %}
