{% extends "user/read_base.html" %}

{%- block subtitle -%}
    {{ ui.subtitle_item(_("Manage")) }}
    {{- super() -}}
{%- endblock %}

{% block breadcrumb_content -%}
    {{- super() -}}
    {{- ui.breadcrumb(_('Manage'), active=request.endpoint=="user.edit") }}
{%- endblock %}

{% block content_action -%}
    {{ ui.content_action(_('View'), href=h.url_for('user.read', id=user.name), icon="eye", style="secondary") if h.check_access('user_update', user) }}
{%- endblock %}

{% block content_primary_nav -%}
    {{ ui.content_nav_item(_('Public Profile'), href=h.url_for('user.read', id=user.name), icon='user', active=request.endpoint=='user.read') }}
    {{- ui.content_nav_item(_('Settings'), href=h.url_for('user.edit', id=user.name), icon='settings', active=request.endpoint=='user.edit') }}
    {{- ui.content_nav_item(_('API Tokens'), href=h.url_for('user.api_tokens', id=user.name), icon='key', active=request.endpoint=='user.api_tokens') }}
{%- endblock %}

{% block secondary_content %}{% endblock %}
