{% extends "page.html" %}

{% block subtitle -%}
    {{ ui.subtitle_item(_('All Users')) }}
    {{- super() }}
{%- endblock %}

{% block breadcrumb_content -%}
    {{ ui.breadcrumb(_('Users'), href=h.url_for('user.index'), active=true) }}
{%- endblock %}

{%- set page_heading | trim -%}
{% block page_heading %}{{ _('Users') }}{% endblock %}
{%- endset %}

{% block primary_content %}
    {%- call ui.util.call(ui.section, title=page_heading, level=1) -%}
        {% block users_list %}
            {%- call ui.util.call(ui.user_list) -%}
                {% block users_list_inner %}
                    {% for user in page.items %}
                        {{ ui.user(user=user) }}
                    {% endfor %}
                {% endblock %}
            {%- endcall %}
        {% endblock %}

        {% block page_pagination %}
            {{ ui.pagination(page=page.page, total=page.last_page, url_params={"q": q, "order_by": order_by}) }}
        {% endblock %}
    {%- endcall %}
{% endblock %}

{% block secondary_content %}
    {%- call ui.util.call(ui.filters) -%}
        {% snippet 'user/snippets/user_search.html', q=q %}
    {%- endcall %}
{% endblock %}
