{% extends "page.html" %}

{%- block page_layout -%}
    sidebar-end
{%- endblock %}

{% block subtitle %}
    {{ ui.subtitle_item(_('Logged Out')) }}
    {{- super() -}}
{% endblock %}

{% block primary_content_inner %}
  {%- call ui.util.call(ui.section, title=_('Logged Out')) -%}
    <div class="nsw-content-block">
        <div class="nsw-content-block__content">
            <p>{{ _('You are now logged out.') }}</p>
            <p>{{ ui.button(_('Login again'), href=h.url_for('user.login')) }}</p>
        </div>
    </div>
  {%- endcall %}
{% endblock %}
