{% extends "page.html" %}

{%- block page_layout -%}
    sidebar-end
{%- endblock %}

{% block subtitle %}
    {{ ui.subtitle_item(_('Reset Password')) }}
{% endblock %}

{% block primary_content_inner %}
    {%- call ui.util.call(ui.section, title=_('Reset Password'), level=1) -%}
        <div class="nsw-content-block">
            <div class="nsw-content-block__content">
                {%- call ui.util.call(ui.form, action=h.url_for('user.perform_reset', id=user_dict.id, token=token), method="POST") -%}
                    {{ ui.input(name="password", label=_("New Password"), type="password", required=true) }}
                    {{ ui.input(name="password_confirm", label=_("Confirm Password"), type="password", required=true) }}

                    {%- call ui.util.call(ui.form_actions) -%}
                        {{ ui.button(_('Reset Password'), type="submit") }}
                    {%- endcall %}
                {%- endcall %}
            </div>
        </div>
    {%- endcall %}
{% endblock %}
