{% extends "page.html" %}

{%- block page_layout -%}
    sidebar-end
{%- endblock %}

{% block subtitle %}
    {{ ui.subtitle_item(_('Forgot Password')) }}
{% endblock %}

{% block primary_content_inner %}
    {%- call ui.util.call(ui.section, title=_('Forgot Password'), level=1) -%}
        <div class="nsw-content-block">
            <div class="nsw-content-block__content">
                <p>{{ _("Enter your username and we'll send you a link to reset your password.") }}</p>

                {%- call ui.util.call(ui.form, action=h.url_for('user.request_reset'), method="POST") -%}
                    {{ ui.form_errors(error_summary) }}
                    {{ ui.input(name="user", label=_("Username"), required=true) }}

                    {%- call ui.util.call(ui.form_actions) -%}
                        {{ ui.button(_('Request Reset'), type="submit") }}
                    {%- endcall %}
                {%- endcall %}
            </div>
        </div>
    {%- endcall %}
{% endblock %}

{%- block secondary_content -%}
    {%- call ui.util.call(ui.sidebar_section, title=_("How does this work?")) -%}
        <p>
            {{ _("Enter your email address or username into the box and we will send you an email with a link to enter a new password.") }}
        </p>
    {%- endcall %}
{%- endblock -%}
