{% extends "page.html" %}

{% block subtitle %}{{ _('Forgot Password') }}{% endblock %}

{% block breadcrumb_content %}
  {{ ui.breadcrumb(_('Forgot Password'), active=true) }}
{% endblock %}

{% block primary_content_inner %}
  {%- call ui.util.call(ui.section, title=_('Forgot Password')) -%}
    <div class="nsw-content-block">
        <div class="nsw-content-block__content">
            <p>{{ _("Enter your username and we'll send you a link to reset your password.") }}</p>
            {%- call ui.util.call(ui.form, action=h.url_for('user.request_reset'), method="POST") -%}
                {% if error_summary %}
                    {{ ui.alert(error_summary, style="danger") }}
                {% endif %}
                
                {{ ui.input(name="user", label=_("Username"), required=true) }}
                
                <div class="nsw-m-top-sm">
                    {{ ui.button(_('Request Reset'), type="submit", style="dark") }}
                </div>
            {%- endcall %}
        </div>
    </div>
  {%- endcall %}
{% endblock %}

{%- block secondary_content -%}{%- endblock -%}
