{%- macro facet(content, key, value, active, form_id) -%}
    {%- do ui.util.augment_attrs(kwargs, {"form": form_id}) -%}

    {{ ui.checkbox(id=ui.util.id(prefix="facet-"), name=key, value=value, label=content, checked=active, **kwargs) }}
{%- endmacro %}

{%- macro package(content, package) -%}
    {%- if package.tags -%}
        {%- set tags -%}
        <div class="nsw-list">
            {%- for tag in package.tags -%}
                {{ ui.tag(tag.name) }}
            {%- endfor %}
        </div>
        {%- endset -%}

    {%- endif %}

    {{ ui.list_item(package.notes|truncate(300),
        title=ui.link(package.title, href=h.url_for(package.type ~ ".read", id=package.name)),
        label=package.organization.title,
        info=ui.datetime(package.metadata_modified),
        tags=tags,
        **kwargs,
    ) }}
{%- endmacro %}

{%- macro resource(content, resource, package) -%}
    {{ ui.list_item(resource.description|truncate(300),
        label=resource.format,
        title=ui.link(package.title, href=h.url_for(package.type ~ "_resource.read", id=package.name, resource_id=resource.id)),
        subtitle=resource.url,
        info=ui.datetime(resource.metadata_modified or resource.created),
        **kwargs,
    ) }}
{%- endmacro %}

{%- macro user(content, user) -%}
    {{ ui.list_item(h.linked_user(user.name), **kwargs) }}
{%- endmacro %}


{%- macro group(content, group) -%}
    {{ ui.list_item(group.notes|truncate(300),
        title=ui.link(group.title, href=h.url_for((group.type or "group") ~ ".read", id=group.name)),
        subtitle=ungettext("{count} Dataset", "{count} Datasets", group.package_count).format(count=group.package_count) if group.package_count is defined,
        img=group.image_display_url,
        reversed=true,
        **kwargs,
    ) }}
{%- endmacro %}

{%- macro organization(content, organization) -%}
    {{ ui.list_item(organization.notes|truncate(300),
        title=ui.link(organization.title, href=h.url_for(organization.type ~ ".read", id=organization.name)),
        subtitle=ungettext("{count} Dataset", "{count} Datasets", organization.package_count).format(count=organization.package_count),
        img=organization.image_display_url,
        reversed=true,
        **kwargs,
    ) }}
{%- endmacro %}
