{%- macro facet(content, key, value, active, form_id) -%}
    {%- set value = value or content -%}
    {%- set id = id or ui.util.id() -%}
    {%- set defaults = {
            "class": "nsw-form__checkbox-input",
            "name": key,
            "value": value,
            "id": id,
            "checked": active,
            "form": form_id,
    } -%}
    <input {{ ui.util.attrs(kwargs, defaults) }} type="checkbox">
    <label class="nsw-form__checkbox-label" for="{{ id }}">{{ content }}</label>
{%- endmacro %}












{%- macro group(content, group) -%}
    {%- do kwargs.setdefault("position", 0) -%}
    {{ h.snippet("group/snippets/group_item.html", group=group, **kwargs) }}
{%- endmacro %}

{%- macro organization(content, organization) -%}
    {%- do kwargs.setdefault("position", 0) -%}
    {{ h.snippet("organization/snippets/organization_item.html", organization=organization, **kwargs) }}
{%- endmacro %}

{%- macro package(content, package) -%}
    {{ h.snippet("snippets/package_item.html", package=package, **kwargs) }}
{%- endmacro %}

{%- macro resource(content, resource, package) -%}
    {{ h.snippet('package/snippets/resource_item.html', res=resource, pkg=package, **kwargs) }}
{%- endmacro %}

{%- macro user(content, user) -%}
    <li {{ ui.util.attrs(kwargs) }}>{{ h.linked_user(user.name, maxlength=20) }}</li>
{%- endmacro %}

{%- macro activity(content, activity) -%}
    {{ h.snippet([
           "snippets/activities/{}.html".format(activity.activity_type.replace(' ', '_')),
           "snippets/activities/fallback.html"
        ], activity=activity, **kwargs) }}

{%- endmacro %}
