{%- macro breadcrumb_divider(content) -%}{%- do kwargs -%}{%- endmacro %}

{%- macro button(content, href, size, flex, icon, type="button", style="primary", color="dark") -%}
    {%- set _style_map = {
        "primary": color,
        "secondary": color ~ "-outline",
        "warning": "danger",
        "danger": "danger",
    } -%}
    {%- set prefix = ui.icon(icon) if icon else "" -%}
    {%- set class = "nsw-button" ~ " nsw-button--" ~ _style_map.get(style, style) -%}
    {%- if size == "sm" -%}
        {%- set class = class ~ " nsw-button--small" -%}
    {%- endif %}
    {%- if flex -%}
        {%- set class = class ~ " nsw-button--flex" -%}
    {%- endif %}
    {%- do ui.util.augment_attrs(kwargs, {"class": class}) -%}
    {%- if href -%}
        {{ ui.link(prefix ~ content, href=href, **kwargs) }}
    {%- else -%}
        <button {{ ui.util.attrs(kwargs) }} type="{{ type }}">
            {{- prefix ~ content -}}
        </button>
    {%- endif %}
{%- endmacro %}

{%- macro icon(name, symbol, style) -%}
    {%- set defaults = {
         "class": "nsw-material-icons material-" ~ ("symbols" if symbols else "icons") ~ ("-" ~ style if style else ""),
         "focusable": "false",
         "aria-hidden": "true",
    } -%}

    {%- set base_class = "fa-{}".format(style) if style else "fa" -%}
    <span {{ ui.util.attrs(kwargs, defaults) }}>{{ ui.util.icon(name) }}</span>
{%- endmacro %}

{%- macro link(content, href, blank) -%}
    {%- set defaults = {"class": "nsw-link nsw-link--icon"} -%}
    {%- if blank -%}
        {%- do defaults.update({"target": "_blank", "rel": "noopener"}) -%}
    {%- endif %}
    <a {{ ui.util.attrs(kwargs, defaults) }} href="{{ href }}">
        {{ content }}
    </a>
{%- endmacro %}

{%- macro badge(content, style="primary") -%}
    {%- set _style_map = {"danger": "error"} -%}
    {%- set class = "nsw-status-label nsw-status-label--" ~ _style_map.get(style, style) -%}
    <span {{ ui.util.attrs(kwargs, {"class": class}) }}>
        {{- content -}}
    </span>
{%- endmacro %}

{%- macro datetime(dt, date_format, with_hours, relative, empty="") -%}
    <time {{ ui.util.attrs(kwargs) }} datetime="{{ h.render_datetime(dt, date_format='%Y-%m-%dT%H:%M:%S%z') }}">
        {%- if relative -%}
            {%- set value = h.time_ago_from_timestamp(dt) -%}
            {{  value if value != "Unknown" else empty }}
        {%- else -%}
            {{ h.render_datetime(dt, date_format=date_format, with_hours=with_hours) or empty }}
        {%- endif -%}
    </time>
{%- endmacro %}

{%- macro divider(content) -%}
    <hr {{ ui.util.attrs(kwargs) }} class="divider">
{%- endmacro %}

{%- macro heading(content, level) -%}
    <p {{ ui.util.attrs(kwargs, {"class": "nsw-h" ~ level}) }}>{{ content }}</p>
{%- endmacro %}

{%- macro tag(content, href) -%}
    {%- set defaults = {"class": "nsw-tag"} -%}
    {%- if href -%}
        {%- do defaults.update({"href": href}) -%}
    {%- endif %}
    {{ ui.util.tag(content, "a" if href else "span", **ui.util.augment_attrs(kwargs, defaults)) }}
{%- endmacro %}

{%- macro tab(content, active, href, id) -%}
    {%- set defaults = {"class": "active" if active else "", "href": (id and '#' ~ id) or href} -%}
    <li><a {{ ui.util.attrs(kwargs, defaults) }}>{{ content }}</a></li>
{%- endmacro %}






{%- macro image(src, alt, height, width) -%}
    {%- if not alt -%}
        {%- do kwargs.setdefault("attrs", {}).setdefault("role", "presentation") -%}
    {%- endif -%}
    <img {{ ui.util.attrs(kwargs) }} src="{{ src }}" alt="{{ alt }}"
                                     {%- if height %} height="{{ height }}"{% endif %}
                                     {%- if width %} width="{{ width }}"{% endif %}
    >
{%- endmacro %}


{%- macro video(src, controls, autoplay) -%}
    <video {{ ui.util.attrs(kwargs) }} src="{{ src }}" {{ "controls" if controls }} {{ "autoplay" if autoplay }}></video>
{%- endmacro %}

{%- macro empty(content) -%}
    <p {{ ui.util.attrs(kwargs, {"class": "empty"}) }}>{{ content }}</p>
{%- endmacro %}
