{%- macro image(src, alt, fit="cover") -%}
    <img {{ ui.util.attrs(kwargs, {"class": "nsw-height-100 nsw-width-100 nsw-object-fit-" ~ fit}) }} alt="{{ alt }}" src="{{ src }}"/>
{%- endmacro %}

{%- macro button(content, href, size, flex, icon, full, type="button", style="primary", color="dark") -%}
    {%- set _style_map = {
        "primary": color,
        "secondary": color ~ "-outline",
        "warning": "danger",
        "danger": "danger",
    } -%}
    {%- set prefix = ui.icon(icon) if icon else "" -%}
    {%- set content = ui.util.tag(content, "span") if prefix else content -%}

    {%- set class = "nsw-button" -%}
    {%- if style -%}
        {%- set class = class ~ " nsw-button--" ~ _style_map.get(style, style) -%}
    {%- endif %}
    {%- if size == "sm" -%}
        {%- set class = class ~ " nsw-button--small" -%}
    {%- endif %}
    {%- if flex -%}
        {%- set class = class ~ " nsw-button--flex" -%}
    {%- endif %}
    {%- if full -%}
        {%- set class = class ~ " nsw-width-100" -%}

    {%- endif %}
    {%- do ui.util.augment_attrs(kwargs, {"class": class}) -%}
    {%- if href -%}
        {{ ui.link(prefix ~ content, href=href, **kwargs) }}
    {%- else -%}
        <button {{ ui.util.attrs(kwargs) }} type="{{ type }}">
            {{- prefix ~ content -}}
        </button>
    {%- endif %}
{%- endmacro %}

{%- macro icon(name, symbol, style) -%}
    {%- set defaults = {
         "class": "nsw-material-icons material-" ~ ("symbols" if symbols else "icons") ~ ("-" ~ style if style else ""),
         "focusable": "false",
         "aria-hidden": "true",
    } -%}

    {%- set base_class = "fa-{}".format(style) if style else "fa" -%}
    <span {{ ui.util.attrs(kwargs, defaults) }}>{{ ui.util.icon(name) }}</span>
{%- endmacro %}

{%- macro link(content, href, blank) -%}
    {%- set defaults = {"class": "nsw-link"} -%}
    {%- if blank -%}
        {%- do defaults.update({"target": "_blank", "rel": "noopener"}) -%}
    {%- endif %}
    <a {{ ui.util.attrs(kwargs, defaults) }} href="{{ href }}">
        {{ content }}
    </a>
{%- endmacro %}

{%- macro badge(content, style="primary") -%}
    {%- set _style_map = {"danger": "error"} -%}
    {%- set class = "nsw-status-label nsw-status-label--" ~ _style_map.get(style, style) -%}
    <span {{ ui.util.attrs(kwargs, {"class": class}) }}>
        {{- content -}}
    </span>
{%- endmacro %}

{%- macro heading(content, level) -%}
    <p {{ ui.util.attrs(kwargs, {"class": "nsw-h" ~ level}) }}>{{ content }}</p>
{%- endmacro %}

{%- macro tag(content, href) -%}
    {%- set defaults = {"class": "nsw-tag"} -%}
    {%- if href -%}
        {%- do defaults.update({"href": href}) -%}
    {%- endif %}
    {{ ui.util.tag(content, "a" if href else "span", **ui.util.augment_attrs(kwargs, defaults)) }}
{%- endmacro %}

{%- macro tab(content, active, href, id) -%}
    {%- set defaults = {"class": "active" if active else "", "href": (id and '#' ~ id) or href} -%}
    <li><a {{ ui.util.attrs(kwargs, defaults) }}>{{ content }}</a></li>
{%- endmacro %}

{%- macro empty(content) -%}
    <p {{ ui.util.attrs(kwargs, {"class": "nsw-text-italic"}) }}>{{ content }}</p>
{%- endmacro %}
