{%- macro form(content, method, action, enctype, include_csrf=true) -%}
    {{ ui.form_start(method=method, action=action, enctype=enctype, **kwargs) }}
    {{ h.csrf_input() if include_csrf and method and method|upper != "GET" }}
    {{ content }}
    {{ ui.form_end() }}
{%- endmacro %}

{%- macro form_start(content, method, action, enctype) -%}
    <form
        {{ ui.util.attrs(kwargs, {"class": "nsw-form"}) }}
        {%- if method %} method="{{ method }}"{%- endif %}
        {%- if action %} action="{{ action }}"{%- endif %}
        {%- if enctype %} enctype="{{ enctype }}"{%- endif -%}
    >
        {{ content }}
{%- endmacro %}

{%- macro form_end(content) -%}
    {%- do kwargs -%}
    {{ content }}
    </form>
{%- endmacro %}

{%- macro form_actions(content) -%}
    <div {{ ui.util.attrs(kwargs, {"class": "form-actions"}) }}>{{ content }}</div>
{%- endmacro %}

{%- macro form_errors(errors) -%}
    {%- call ui.util.call(ui.alert, **ui.util.augment_attrs(kwargs, {"style": "danger"}, key=none)) -%}
        <strong>{{ _("The form contains invalid entries:") }}</strong>
        <ul>
            {%- for field, error in errors.items() -%}
                <li>{{ field }}: {{ error }}</li>
            {%- endfor %}
        </ul>
    {%- endcall %}
{%- endmacro %}

{%- macro form_annotation(content=_("Required field")) -%}
    <div {{ ui.util.attrs(kwargs) }}>
        <span class="nsw-form__required"></span>
        <span>{{ content }}</span>
    </div>
{%- endmacro %}

{%- macro field_errors(errors) -%}
    {%- if errors -%}
        <span class="nsw-form__helper nsw-form__helper--error"><span class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">cancel</span>{{ errors|join(", ") }}</span>
    {%- endif %}
{%- endmacro %}

{%- macro field_info(content) -%}
    <span {{ ui.util.attrs(kwargs, {"class": "nsw-form__helper"}) }} >{{ content }}</span>
{%- endmacro %}

{%- macro hidden_input(name, value) -%}
    <input {{ ui.util.attrs(kwargs, {"name": name, "value": value}) }} type="hidden"/>
{%- endmacro %}

{%- macro fieldset(content, legend) -%}
    <fieldset {{ ui.util.attrs(kwargs) }}>
        {%- if legend -%}
            <legend>{{ legend }}</legend>
        {%- endif %}
        {{ content }}
    </fieldset>
{%- endmacro %}

{%- macro file_input(content, name, label, id, errors, required, accept, capture, multiple, button_label=_("Select file")) -%}
    {%- set id = id or (name and "field-" ~ name) or ui.util.id()  -%}
    {%- set defaults = {
            "id": id,
            "type": "file",
            "class": "nsw-file-upload__input",
            "name": name,
            "aria-invalid": "true" if errors else "false",
    } -%}
    {%- if multiple -%}
        {%- do defaults.update({"multiple": ""}) -%}
    {%- endif %}
    {%- if accept -%}
        {%- do defaults.update({"accept": accept}) -%}
    {%- endif %}
    {%- if capture -%}
        {%- do defaults.update({"capture": capture}) -%}
    {%- endif %}

    {%- set input_kwargs = kwargs -%}

    {%- call ui.util.call(_input_block, label=label, required=required, id=id) -%}
        {{ content }}
        {%- if errors -%}
            <span class="nsw-form__helper nsw-form__helper--error" id="file-upload-error-error-text">
                <span class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">cancel</span>
                {{ errors | join(", ") }}
            </span>
        {%- endif %}
        <div class="nsw-file-upload js-file-upload" data-replace-files>
            <input {{ ui.util.attrs(input_kwargs, defaults) }}>
            <label for="{{ id }}" class="nsw-file-upload__label nsw-button nsw-button--dark-outline-solid">{{ button_label }}</label>
        </div>
    {%- endcall %}
{%- endmacro %}

{%- macro _input_block(content, label, required, id) -%}
    <div class="nsw-form__group">
        {%- if label -%}
            <label class="nsw-form__label {{ 'nsw-form__required' if required }}" for="{{ id }}">{{ label }}</label>
        {%- endif %}
        {{- content -}}
    </div>
{%- endmacro %}

{%- macro input(content, name, id, label, value, required, placeholder, type="text", errors=[], button=none) -%}
    {%- set id = id or (name and "field-" ~ name) or (label and ui.util.id()) or "" -%}
    {%- set defaults = {
            "class": "nsw-form__input",
            "type": type,
            "id": id,
            "name": name,
            "value": value,
            "placeholder": placeholder,
            "aria-invalid": "true" if errors else "false",
    } -%}
    {%- set input_kwargs = kwargs -%}

    {%- if button is mapping -%}
        <div class="nsw-form__group">
            <div class="nsw-form__input-group {{ 'nsw-form__input-group--icon' if button.icon }}">
                {%- if label -%}
                    <label class="sr-only" for="{{ id }}">{{ label }}</label>
                {%- endif %}
                <input {{ ui.util.attrs(input_kwargs, defaults) }}>
                {{ ui.button(**ui.util.augment_attrs(button, {"type": "submit"}, key=none, extra_class="nsw-button--flex")) }}
            </div>
            {{ ui.field_errors(errors) }}
        </div>
    {%- else -%}
        {%- call ui.util.call(_input_block, label=label, id=id, required=required) -%}
            {{ content }}
            <input {{ ui.util.attrs(input_kwargs, defaults) }}>
            {{ ui.field_errors(errors) }}
        {%- endcall %}
    {%- endif %}
{%- endmacro %}

{%- macro textarea(content, name, id, label, value, required, placeholder, errors=[]) -%}
    {%- set id = id or (name and "field-" ~ name) or (label and ui.util.id()) or "" -%}
    {%- set defaults = {
            "class": "nsw-form__input",
            "id": id,
            "name": name,
            "placeholder": placeholder,
            "aria-invalid": "true" if errors else "false",
    } -%}
    {%- set input_kwargs = kwargs -%}

    {%- call ui.util.call(_input_block, label=label, id=id, required=required) -%}
        {{ content }}
        <textarea {{ ui.util.attrs(input_kwargs, defaults) }}>{{ value }}</textarea>
        {{ ui.field_errors(errors) }}
    {%- endcall %}
{%- endmacro %}

{%- macro markdown(content, name, id, label, value, required, placeholder, errors=[]) -%}
    {%- set popover_id = ui.util.id() -%}
    {%- set id = id or (name and "field-" ~ name) or (label and ui.util.id()) or "" -%}
    {%- set defaults = {
            "class": "nsw-form__input",
            "id": id,
            "name": name,
            "placeholder": placeholder,
            "aria-invalid": "true" if errors else "false",
    } -%}
    {%- set input_kwargs = kwargs -%}

    {%- call ui.util.call(_input_block, label=label, id=id, required=required) -%}
        {{ content }}
        {%- call ui.util.call(ui.field_info) -%}
            This field supports {{ ui.popover_handle("markdown", id=popover_id) }}
        {%- endcall %}

        <textarea {{ ui.util.attrs(input_kwargs, defaults) }}>{{ value }}</textarea>
        {{ ui.field_errors(errors) }}
    {%- endcall %}
    {{ _markdown_popover(popover_id) }}
{%- endmacro %}

{%- macro _markdown_popover(id, title=_("Markdown quick reference")) -%}
    {%- call ui.util.call(ui.popover, title=title, id=id, **kwargs) -%}
        {%- if content -%}
            {{ content }}
        {%- else -%}
            {%- trans -%}
            <p>__Bold text__ or _italic text_</p>
            <p># title
                <br>## secondary title
                <br>### etc
            </p>
            <p>* list
                <br>* of
                <br>* items
            </p>
            <p>http://auto.link.ed/</p>
            <p>
                <strong>
                    <a href='http://daringfireball.net/projects/markdown/syntax' target='_blank'>Full markdown syntax</a>
                </strong>
            </p>
            <p>
                <strong>Please note:</strong>
                HTML tags are stripped out for security reasons
            </p>
            {%- endtrans %}
        {%- endif %}
    {%- endcall -%}
{%- endmacro %}

{%- macro select(content, options, selected) -%}
    {%- set selected_values = selected if selected is not string and selected is iterable else [selected or ""] %}
    {%- call ui.util.call(ui.select_box, nested_content=content, **kwargs) -%}
        {% for option in options %}
            {{ ui.select_option(option.text or option.value, value=option.value, selected=option.value in selected_values) }}
        {% endfor %}
    {%- endcall %}
{%- endmacro %}

{%- macro select_box(content, nested_content, name, id, label, multiple, required, autocomplete, errors=[], group_class="form-group") -%}
    {%- set id = id or (name and "field-" ~ name) or (label and ui.util.id()) or "" -%}
    {%- set defaults = {
            "id": id, "name": name, "class": "nsw-form__select", "multiple": multiple,
            "aria-invalid": "true" if errors else "false",
    } -%}
    {%- set input_kwargs = kwargs -%}

    {%- call ui.util.call(_input_block, label=label, required=required, id=id) -%}
        {{ nested_content }}
        <select {{ ui.util.attrs(input_kwargs, defaults) }}>
            {{ content }}
        </select>
        {{ ui.field_errors(errors) }}
    {%- endcall %}
{%- endmacro %}

{%- macro select_option(content, value, selected) -%}
    <option {{ ui.util.attrs(kwargs) }} value="{{ value }}" {{ "selected" if selected }}>{{ content }}</option>
{%- endmacro %}


{%- macro checkbox(content, name, id, checked, label, required, value, errors=[]) -%}
    {%- set id = id or (name and "field-" ~ name) or (label and ui.util.id()) or "" -%}
    {%- set defaults = {
            "class": "nsw-form__checkbox-input",
            "type": "checkbox",
            "id": id,
            "name": name,
            "value": value,
            "checked": checked,
            "aria-invalid": "true" if errors else "false",
    } -%}
    <div class="nsw-form__group">
        {{ content }}
        <input {{ ui.util.attrs(kwargs, defaults) }} >
        {%- if label -%}
            <label class="nsw-form__checkbox-label {{ 'nsw-form__required' if required }}" for="{{ id }}">{{ label }}</label>
        {%- endif %}
        {{ ui.field_errors(errors) }}
    </div>
{%- endmacro %}

{%- macro radio(content, name, id, checked, label, required, value, errors=[]) -%}
    {%- set id = id or (name and "field-" ~ name) or (label and ui.util.id()) or "" -%}
    {%- set defaults = {
            "class": "nsw-form__radio-input",
            "type": "radio",
            "id": id,
            "name": name,
            "value": value,
            "checked": checked,
    } -%}
    <div class="nsw-form__group">
        {{ content }}
        <input {{ ui.util.attrs(kwargs, defaults) }} >
        {%- if label -%}
            <label class="nsw-form__radio-label {{ 'nsw-form__required' if required }}" for="{{ id }}">{{ label }}</label>
        {%- endif %}
        {{ ui.field_errors(errors) }}
    </div>
{%- endmacro %}

{%- macro range_input(content, min_value, max_value, step) -%}
    {%- set defaults = {"class": "nsw-width-100"} -%}
    {%- if min_value is defined -%}
        {%- do defaults.update({"min": min_value}) -%}
    {%- endif %}
    {%- if max_value is defined -%}
        {%- do defaults.update({"max": max_value}) -%}
    {%- endif %}
    {%- if step is defined -%}
        {%- do defaults.update({"step": step}) -%}
    {%- endif %}
    {%- do ui.util.augment_attrs(kwargs, defaults) -%}
    {{ ui.input(content, type="range", **kwargs) }}
{%- endmacro %}


{%- import "macros/form.html" as _form -%}

{%- macro extra_field(content, index=0, data={}, errors={}, name_template='extras__{index}__') -%}
    {%- do kwargs -%}
    {%- set prefix = name_template.format(index=index) -%}
    {%- set params =  {
          "names": (prefix ~ 'key', prefix ~ 'value', prefix ~ 'deleted'),
          "id": 'field-extras-%d' % (index+1),
          "label": _('Custom Field'),
          "values": (data.key, data.value, data.deleted),
          "error": errors[prefix ~ 'key'] or errors[prefix ~ 'value']
    } -%}
    {{ _form.custom(**params) }}
{%- endmacro %}

{%- macro extra_fields_collection(extras=[], errors={}, limit=3) -%}
    {{ h.snippet('snippets/custom_form_fields.html', extras=extras, errors=errors, limit=limit, **kwargs) }}
{%- endmacro %}
