{%- macro modal_handle(content, id) -%}
    {{ ui.button(content, **ui.util.augment_attrs(kwargs, {"aria-haspopup": "dialog"}, extra_class="js-open-dialog-" ~ id)) }}
{%- endmacro %}

{%- macro modal_close_handle(content, id) -%}
    {{ ui.button(content, **ui.util.augment_attrs(kwargs, extra_class="js-close-dialog")) }}
{%- endmacro %}

{%- macro popover_handle(content, id, position) -%}
    {%- set defaults = {
            "aria-controls": id,
            "data-popover-position": position,
    } -%}
    {%- do ui.util.augment_attrs(kwargs, defaults, extra_class="js-popover nsw-toggletip") -%}
    <span {{ ui.util.attrs(kwargs, defaults) }}>{{ content }}</span>
{%- endmacro %}
