{%- macro footer(content, color) -%}
    <footer {{ ui.util.attrs(kwargs, {"class": "nsw-footer" ~ (" nsw-footer--" ~ color if color else "")}) }}>
        {{ content }}
    </footer>
{%- endmacro %}

{%- macro footer_main(content) -%}
    <div class="nsw-footer__upper">
        <div class="nsw-container">
            {#<div class="nsw-footer__group">
            <div class="nsw-footer__heading"><a href="#">Popular</a></div>
            <ul>
                <li><a href="#">Contact the Premier</a></li>
                <li><a href="#">Contact a Minister</a></li>
            </ul>
            </div>#}
            {{ content }}
        </div>
    </div>

{%- endmacro %}

{%- macro footer_secondary(content, acknowledgement) -%}
    <div {{ ui.util.attrs(kwargs, {"class": "nsw-footer__lower"}) }}>
        <div class="nsw-container">
            {%- if acknowledgement is not none -%}
                <p class="nsw-footer__acknowledgement">
                    {%- if acknowledgement -%}
                        {{  acknowledgement }}
                    {%- else -%}
                        We pay respect to the Traditional Custodians and First Peoples
                        of NSW, and acknowledge their continued connection to their
                        country and culture.
                    {%- endif %}
                </p>
                <hr>
            {%- endif %}
            {{ content }}
            <div class="nsw-footer__info">
                <div class="nsw-footer__copyright">Copyright © {{ ui.util.now().year }}</div>
                <div class="nsw-footer__built">
                    Built by
                    {{ ui.link(_("NSW Design System", href="https://www.digital.nsw.gov.au/digital-design-system", blank=true)) }}
                </div>
            </div>
        </div>
    </div>
{%- endmacro %}





{%- macro subtitle_item(content, initial) -%}
    {%- do kwargs -%}
    {{ content }}
    {%- if not initial %} {{ g.template_title_delimiter }} {% endif %}
{%- endmacro %}

{%- macro account(content, title, subtitle, logo) -%}
    <div {{ ui.util.attrs(kwargs, {"class": "account-masthead"}) }}>
        {{ content }}
    </div>
{%- endmacro %}

{%- macro header_logo(href, logo, title, subtitle) -%}
    {% if logo -%}
        {%- do kwargs.setdefault("attrs", {}).setdefault("class", "logo") -%}
        {{ ui.link(ui.image(h.url_for_static_or_external(logo), alt=title, aria={"label": _('Navigate to Home - {site_title}').format(site_title=title)}), href=href, **kwargs) }}

    {%- else -%}
        <h1>
            {{ ui.link(title, href=href, **kwargs) }}
        </h1>
    {%- endif %}
    {%- if subtitle -%}
        <h2>{{ subtitle }}</h2>
    {%- endif %}
{%- endmacro %}

{%- macro header(content, title, subtitle, logo, href) -%}
    <header {{ ui.util.attrs(kwargs, {"class": "masthead"}) }}>
        {%- call ui.util.call(ui.container) -%}
            {% if g.debug and not g.debug_supress_header %}
                <div class="debug">Blueprint : {{ g.blueprint }}<br />View : {{ g.view }}</div>
            {% endif %}

            <nav class="navbar navbar-expand-lg navbar-light">
                <div class="{{ g.header_class }} navbar-left col-md-2">
                    {{ ui.header_logo(logo=logo, title=title, subtitle=subtitle, href=href or h.url_for('home.index')) }}
                </div>
                {{ ui.button(ui.icon("bars"), attrs={"class": "navbar-toggler"}, data={"bs-toggle": "collapse", "bs-target": "#main-navigation-toggle"}, aria={"controls": "main-navigation-toggle",  "expanded": "false", "label": _('Toggle navigation')}) }}

                <div class="main-navbar collapse navbar-collapse col-md-10" id="main-navigation-toggle">
                    {{ content }}
                </div>
            </nav>
        {%- endcall %}
    </header>
{%- endmacro %}
