{%- macro facet_section(content, title, collapsible) -%}
    <div {{ ui.util.attrs(kwargs, {"class": "nsw-filters__item"}) }}>
        {%- if collapsible -%}
            <button class="nsw-filters__item-button">
                <span class="nsw-filters__item-name">{{ title }}</span>
                <span class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">keyboard_arrow_down</span>
            </button>
        {%- endif %}

        <div class="nsw-filters__item-content">
            <fieldset class="nsw-form__fieldset">
                <legend class="nsw-form__legend {{ 'sr-only' if collapsible }}">{{ title }}</legend>
                {{ content }}
            </fieldset>
        </div>
    </div>
{%- endmacro %}

{%- macro sidebar_section(content, title) -%}
    <nav {{ ui.util.attrs(kwargs, {"class": "nsw-side-nav js-side-nav"}) }}>
        <button class="nsw-side-nav__toggle">
            <span>{{ title }}</span>
        </button>
        <div class="nsw-side-nav__header nsw-p-y-xs">
            <strong>{{ title }}</strong>
        </div>
        <div class="nsw-side-nav__content">
            {{ content }}
        </div>
    </nav>
{%- endmacro %}

{%- macro section(content, title, level=2) -%}
    {%- set class = "nsw-section" -%}
    <section {{ ui.util.attrs(kwargs, {"class": class}) }}>
        {{ ui.heading(title, level=level) if title }}
        <div>{{ content }}</div>
    </section>
{%- endmacro %}
