{%- macro facet_section(content, title, collapsible) -%}
    <div {{ ui.util.attrs(kwargs, {"class": "nsw-filters__item"}) }}>
        {%- if collapsible -%}
            <button class="nsw-filters__item-button">
                <span class="nsw-filters__item-name">{{ title }}</span>
                <span class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">keyboard_arrow_down</span>
            </button>
        {%- endif %}

        <div class="nsw-filters__item-content">
            <fieldset class="nsw-form__fieldset">
                <legend class="nsw-form__legend {{ 'sr-only' if collapsible }}">{{ title }}</legend>
                {{ content }}
            </fieldset>
        </div>
    </div>
{%- endmacro %}




{%- macro sidebar_section(content, title) -%}
    {%- do kwargs.setdefault("narrow", true) -%}
    {%- do kwargs.setdefault("shallow", true) -%}
    {{ ui.section(content, title, **kwargs) }}
{%- endmacro %}

{%- macro section(content, title, icon, level=2, shallow=false, narrow=false) -%}
    {%- if icon -%}
        {%- set title = ui.icon(icon) ~ " " ~ title -%}
    {%- endif %}
    <section {{ ui.util.attrs(kwargs, {"class": "module" ~ (' module-narrow' if narrow else "") ~ (' module-shallow' if shallow else "")}) }}>
        <div class="module-group">
            {{ ui.heading(title, level=level, attrs={"class": "module-heading"}) if title }}
            <div class="module-content">
                {{ content }}
            </div>
        </div>
    </section>
{%- endmacro %}
