{%- macro facet_section(content, title, items, key, has_more) -%}
    {{ ui.nds_filter_item(content, title=title, **kwargs) }}
{%- endmacro %}




{%- macro sidebar_section(content, title) -%}
    {%- do kwargs.setdefault("narrow", true) -%}
    {%- do kwargs.setdefault("shallow", true) -%}
    {{ ui.section(content, title, **kwargs) }}
{%- endmacro %}

{%- macro section(content, title, icon, level=2, shallow=false, narrow=false) -%}
    {%- if icon -%}
        {%- set title = ui.icon(icon) ~ " " ~ title -%}
    {%- endif %}
    <section {{ ui.util.attrs(kwargs, {"class": "module" ~ (' module-narrow' if narrow else "") ~ (' module-shallow' if shallow else "")}) }}>
        <div class="module-group">
            {{ ui.heading(title, level=level, attrs={"class": "module-heading"}) if title }}
            <div class="module-content">
                {{ content }}
            </div>
        </div>
    </section>
{%- endmacro %}
