{%- macro accordion_wrapper(content, toggle_all) -%}
    <div {{ ui.util.attrs(kwargs, {"class": "nsw-accordion--details js-accordion-details"}) }}>
        {%- if toggle_all -%}
            <div class="nsw-accordion__toggle">
                <button type="button" aria-label="{{ _('Expand all sections') }}">{{ _("Expand all") }}</button>
                <button type="button" aria-label="{{ _('Collapse all sections') }}">{{ _("Collapse all") }}</button>
            </div>
        {%- endif %}
        {{- content -}}
    </div>
{%- endmacro %}

{%- macro breadcrumb_wrapper(content) -%}
    <nav {{ ui.util.attrs(kwargs, {"class": "nsw-breadcrumbs js-breadcrumbs", "aria-label": "Breadcrumbs"}) }}>
        <ol>{{ content }}</ol>
    </nav>
{%- endmacro %}

{%- macro footer_main_nav(content, title) -%}
    <div {{ ui.util.attrs(kwargs, {"class": "nsw-footer__group"}) }}>
        {%- if title -%}
            <div class="nsw-footer__heading">{{ title }}</div>
        {%- endif %}
        <ul>{{ content }}</ul>
    </div>
{%- endmacro %}

{%- macro footer_secondary_nav(content) -%}
    <ul {{ ui.util.attrs(kwargs) }}>
        {{ content }}
    </ul>
{%- endmacro %}

{%- macro main_nav(content) -%}
    <nav {{ ui.util.attrs(kwargs, {"class": "nsw-main-nav js-mega-menu", "id": "main-nav", "aria-label": "Main menu"}) }}>
        <div class="nsw-main-nav__header">
            <div class="nsw-main-nav__title">Menu</div>
            <button class="nsw-icon-button js-close-nav" type="button" aria-expanded="true">
                {{ ui.icon("close") }}
                <span class="sr-only">Close Menu</span>
            </button>
        </div>
        <ul class="nsw-main-nav__list">{{ content }}</ul>
    </nav>
{%- endmacro %}





{%- macro account_nav(content) -%}
    <ul {{ ui.util.attrs(kwargs) }}>
        {{ content }}
    </ul>
{%- endmacro %}


{%- macro content_action_wrapper(content) -%}
    <div {{ ui.util.attrs(kwargs, {"class": "content_action"}) }}>
        {{- content -}}
    </div>
{%- endmacro %}

{%- macro content_nav(content) -%}
    {{ ui.nav(content, **ui.util.augment_attrs(kwargs, {"class": "nav nav-tabs"})) }}
{%- endmacro %}


{%- macro nav(content) -%}
    <ul {{ ui.util.attrs(kwargs, {"class": "nav"}) }}>
        {{ content }}
    </ul>
{%- endmacro %}

{%- macro page_action_wrapper(content) -%}
    <div {{ ui.util.attrs(kwargs, {"class": "page_primary_action"}) }}>
        {{- content -}}
    </div>
{%- endmacro %}

{%- macro tab_wrapper(content) -%}
    <ul {{ ui.util.attrs(kwargs, {"class": "nav nav-tabs"}) }} role="tablist">{{ content }}</ul>
{%- endmacro %}

{%- macro sidebar_nav(content, title) -%}
    <section {{ ui.util.attrs(kwargs, {"class": "module module-narrow module-shallow"}) }}>
        <div class="module-group">
            {{ ui.heading(title, level=2, attrs={"class": "module-heading"}) if title }}

            <ul class="nav nav-aside">
                {{ content }}
            </ul>
        </div>
    </section>
{%- endmacro %}

{%- macro pagination_wrapper(content) -%}
    <div {{ ui.util.attrs(kwargs, {"class": "pagination-wrapper"}) }}>
        <ul class="pagination justify-content-center">
            {{- content -}}
        </ul>
    </div>
{%- endmacro %}


{%- macro tab_pane_wrapper(content) -%}
    <div {{ ui.util.attrs(kwargs) }} class="tab-content">
        {{ content }}
    </div>
{%- endmacro %}
