{%- macro accordion_wrapper(content, toggle_all) -%}
    <div {{ ui.util.attrs(kwargs, {"class": "nsw-accordion--details js-accordion-details"}) }}>
        {%- if toggle_all -%}
            <div class="nsw-accordion__toggle">
                <button type="button" aria-label="{{ _('Expand all sections') }}">{{ _("Expand all") }}</button>
                <button type="button" aria-label="{{ _('Collapse all sections') }}">{{ _("Collapse all") }}</button>
            </div>
        {%- endif %}
        {{- content -}}
    </div>
{%- endmacro %}

{%- macro breadcrumb_wrapper(content) -%}
    <nav {{ ui.util.attrs(kwargs, {"class": "nsw-breadcrumbs js-breadcrumbs", "aria-label": "Breadcrumbs"}) }}>
        <ol>{{ content }}</ol>
    </nav>
{%- endmacro %}

{%- macro footer_main_nav(content, title) -%}
    <div {{ ui.util.attrs(kwargs, {"class": "nsw-footer__group"}) }}>
        {%- if title -%}
            <div class="nsw-footer__heading">{{ title }}</div>
        {%- endif %}
        <ul>{{ content }}</ul>
    </div>
{%- endmacro %}

{%- macro footer_secondary_nav(content) -%}
    <ul {{ ui.util.attrs(kwargs) }}>
        {{ content }}
    </ul>
{%- endmacro %}

{%- macro main_nav(content) -%}
    <nav {{ ui.util.attrs(kwargs, {"class": "nsw-main-nav js-mega-menu", "id": "main-nav", "aria-label": "Main menu"}) }}>
        <div class="nsw-main-nav__header">
            <div class="nsw-main-nav__title">Menu</div>
            <button class="nsw-icon-button js-close-nav" type="button" aria-expanded="true">
                {{ ui.icon("close") }}
                <span class="sr-only">Close Menu</span>
            </button>
        </div>
        <ul class="nsw-main-nav__list">{{ content }}</ul>
    </nav>
{%- endmacro %}

{%- macro account_nav(content) -%}
    <ul {{ ui.util.attrs(kwargs, {"class": "ckan-account-nav nsw-list nsw-m-y-0"}) }}>
        {{ content }}
    </ul>
{%- endmacro %}

{%- macro pagination_wrapper(content) -%}
    <nav {{ ui.util.attrs(kwargs, {"class": "nsw-pagination", "aria-label": "Pagination"}) }}>
        <ul>
            {{- content -}}
        </ul>
    </nav>
{%- endmacro %}

{%- macro sidebar_nav(content, title) -%}
    <nav {{ ui.util.attrs(kwargs, {"class": "nsw-side-nav js-side-nav"}) }}>
        <button class="nsw-side-nav__toggle" aria-expanded="false">
            <span>{{ title }}</span>
        </button>
        <div class="nsw-side-nav__header nsw-p-y-xs">
            <strong>{{ title }}</strong>
        </div>
        <ul class="nsw-side-nav__content">
            {{ content }}
        </ul>
    </nav>
{%- endmacro %}

{%- macro tab_wrapper(content, as_nav) -%}
    {%- set item_kwargs = kwargs -%}
    {%- call ui.util.call(ui.util.tag, "div" if as_nav else "", attrs={"class": "nsw-tabs__list-wrapper"}) -%}
        <ul {{ ui.util.attrs(item_kwargs, {"class": "nsw-tabs__list"}) }}>{{ content }}</ul>
    {%- endcall %}
{%- endmacro %}

{%- macro tab_pane_wrapper(content) -%}
    {%- do kwargs -%}
    {{ content }}
{%- endmacro %}

{%- macro content_nav(content, title=_("Navigation")) -%}
    {{ ui.sidebar_nav(content, title, **kwargs) }}
{%- endmacro %}


{%- macro content_action_wrapper(content) -%}
    <div {{ ui.util.attrs(kwargs, {"class": "content_action nsw-text-right"}) }}>
        {{- content -}}
    </div>
{%- endmacro %}

{%- macro nav(content) -%}
    <ul {{ ui.util.attrs(kwargs, {"class": "nav"}) }}>
        {{ content }}
    </ul>
{%- endmacro %}

{%- macro page_action_wrapper(content) -%}
    <div {{ ui.util.attrs(kwargs, {"class": "page_primary_action nsw-m-top-xs"}) }}>
        {{- content -}}
    </div>
{%- endmacro %}
