<div class="nsw-hero-banner nsw-hero-banner--dark nsw-hero-banner--wide">
    <div class="nsw-hero-banner__container">
        <div class="nsw-hero-banner__wrapper">
            <div class="nsw-hero-banner__content">
                <h1>
                    {% if banner_title %}
                    {{ banner_title }}
                    {% else %}
                    Helping you deliver great government services
                    {% endif %}
                </h1>
                <p class="nsw-intro">
                    {% if banner_text %}
                    {{ banner_text }}
                    {% else %}
                    Find the building blocks for creating user-centred digital services, as well as policy, tools and
                    guidance
                    {% endif %}
                </p>
                <div class="nsw-hero-banner__button">
                    <a href="{{ banner_link }}" class="nsw-button nsw-button--white">
                        {% if banner_link_text %}
                        {{ banner_link_text }}
                        {% else %}
                        View Digital Service Toolkit
                        {% endif %}
                    </a>
                </div>
            </div>
            <div class="nsw-hero-banner__box">
            </div>
        </div>
    </div>
</div>
