{% ckan_extends %}
{% from "macros/nswdesignsystem/skip_to_nav.html" import skip_to_nav with context  %}

{% block styles %}
    <link href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined" rel="stylesheet">
    {% if h.nswdesignsystem_css_enabled() %}
        {% asset 'nswdesignsystem/nswdesignsystem-css' %}
    {% endif %}
    {{ super() }}
{% endblock %}

{% block scripts %}
    {% if h.nswdesignsystem_js_enabled() %}
        {% asset 'nswdesignsystem/nswdesignsystem-js' %}
    {% endif %}

    {{ super() }}
{% endblock %}

{% block skip %}
    {{ skip_to_nav() }}
{% endblock skip %}
